In [4]:
import pandas as pd
import numpy as np

data = np.array(list(range(5, 10)))
s = pd.Series(data)
print(s)

0    5
1    6
2    7
3    8
4    9
dtype: int32

Write a Pandas program to add, subtract, multiple and divide two Pandas Series. 
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Write a Pandas program to compare the elements of the two Pandas Series. 
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [9]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([2, 3, 5, 7, 9])
print(ds1 == ds2)

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Write a Pandas program to change the order of index of a given series. 
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64

In [11]:
import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [12]:
# Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series. 
# Sample Output:
# Original Series:
# 0 1
# 1 9
# 2 8
# 3 6
# 4 9
# 5 7
# 6 1
# 7 1
# 8 1
# dtype: int64
# Positions of numbers that are multiples of 5:
# []

In [25]:

import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.where(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    5
1    7
2    5
3    8
4    3
5    8
6    8
7    5
8    1
dtype: int32
Positions of numbers that are multiples of 5:
(array([0, 2, 7], dtype=int64),)

In [24]:
[s.index(i) for i in s if i % 5 == 0]

TypeError: 'RangeIndex' object is not callable

In [ ]:
# Write a Pandas program to calculate the number of characters in each word in a given series. 
# Sample Output:
# Original Series:
# 0 Php
# 1 Python
# 2 Java
# 3 C#
# dtype: object
# Number of characters in each word in the said series:
# 0 3
# 1 6
# 2 4
# 3 2
# dtype: int64

In [26]:
import pandas as pd
ds1 = pd.Series(["Php", "Python", "Java", "C#"])
ds2 = pd.Series([len(i) for i in ds1])
print(ds2)

0    3
1    6
2    4
3    2
dtype: int64

In [27]:
import pandas as pd
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

In [28]:
x=[‘ab’,’cd’]
print(len(map(list,x)))

SyntaxError: invalid character '‘' (U+2018) (Temp/ipykernel_9540/3974119917.py, line 1)

In [29]:
 tuple=(123,'John')
>>> tuple*=2
>>> tuple

(123, 'John', 123, 'John')

In [30]:
for i in map(lambda i:i**3, (2,3,7)):
    print(i)

8
27
343