In [2]:
import pandas as pd
import numpy as np
s = pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\hp5cd\AppData\Local\Temp/ipykernel_11432/755669514.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

     0
100  a
101  b
102  c
103  d

In [3]:
s = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
print(s['a'])

1

In [7]:
import pandas as pd
 
# list of strings
lst = ['Python', 'Pandas', 'Is', 'Not', 'That', 'Difficult!', 'At all']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)
# first 0 is the column

            0
0      Python
1      Pandas
2          Is
3         Not
4        That
5  Difficult!
6      At all

In [8]:
import pandas as pd
data = {'Name':['Lisa', 'Shahrukh', 'Rohan', 'Michael'], 'Age': [20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)

       Name  Age
0      Lisa   20
1  Shahrukh   21
2     Rohan   19
3   Michael   18

In [10]:
import pandas as pd
data = pd.read_csv(r"C:\Gagan\Programming\Pyhton Projects\myexcel.csv", index_col="Name")
first = data['Age']
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [12]:
# finding empty nan data
import pandas as pd
import numpy as np
dict_1 = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(dict_1)
print(df.isnull())

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [14]:
import pandas as pd
data = pd.read_csv(r"C:\Gagan\Programming\Pyhton Projects\myexcel.csv", index_col="Name")
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter", "R.J. Hunter"], inplace=True)
print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson   Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk   Boston Celtics    41.0        C  25.0    7-0   238.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                 College      Salary
Name
Jae Crowder    Marquette   6796117.0
Jonas Jerebko        NaN   5000000.0
Amir Johnson         NaN  12000000.0
Jordan Mickey        LSU   1170960.0
Kelly Olynyk     Gonzaga   2165160.0
...                  ...         ...
Shelvin Mack      Butler   2433333.0
Raul Neto            NaN    900000.0
Tibor Pleiss         NaN   2900000.0
Jeff Withey       Kansas    947276.0
NaN                  NaN         NaN

[455 rows x 8 columns]

In [16]:
import pandas as pd
data = pd.read_csv(r"C:\Gagan\Programming\Pyhton Projects\myexcel.csv", index_col="Name")
print(data.head(26))

                                   Team  Number Position   Age Height  Weight  \
Name
Avery Bradley            Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder              Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland             Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter              Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko            Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson             Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey            Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk             Boston Celtics    41.0        C  25.0    7-0   238.0
Terry Rozier             Boston Celtics    12.0       PG  22.0    6-2   190.0
Marcus Smart             Boston Celtics    36.0       PG  22.0    6-4   220.0
Jared Sullinger          Boston Celtics     7.0        C  24.0    6-9   260.0
Isaiah Thomas            Boston Celtics     4.0       PG  27.0    5-9   185.0
Evan Turner              Boston Celtics    11.0       SG  27.0    6-7   220.0
James Young              Boston Celtics    13.0       SG  20.0    6-6   215.0
Tyler Zeller             Boston Celtics    44.0        C  26.0    7-0   253.0
Bojan Bogdanovic          Brooklyn Nets    44.0       SG  27.0    6-8   216.0
Markel Brown              Brooklyn Nets    22.0       SG  24.0    6-3   190.0
Wayne Ellington           Brooklyn Nets    21.0       SG  28.0    6-4   200.0
Rondae Hollis-Jefferson   Brooklyn Nets    24.0       SG  21.0    6-7   220.0
Jarrett Jack              Brooklyn Nets     2.0       PG  32.0    6-3   200.0
Sergey Karasev            Brooklyn Nets    10.0       SG  22.0    6-7   208.0
Sean Kilpatrick           Brooklyn Nets     6.0       SG  26.0    6-4   219.0
Shane Larkin              Brooklyn Nets     0.0       PG  23.0   5-11   175.0
Brook Lopez               Brooklyn Nets    11.0        C  28.0    7-0   275.0
Chris McCullough          Brooklyn Nets     1.0       PF  21.0   6-11   200.0
Willie Reed               Brooklyn Nets    33.0       PF  26.0   6-10   220.0

                                   College      Salary
Name
Avery Bradley                        Texas   7730337.0
Jae Crowder                      Marquette   6796117.0
John Holland             Boston University         NaN
R.J. Hunter                  Georgia State   1148640.0
Jonas Jerebko                          NaN   5000000.0
Amir Johnson                           NaN  12000000.0
Jordan Mickey                          LSU   1170960.0
Kelly Olynyk                       Gonzaga   2165160.0
Terry Rozier                    Louisville   1824360.0
Marcus Smart                Oklahoma State   3431040.0
Jared Sullinger                 Ohio State   2569260.0
Isaiah Thomas                   Washington   6912869.0
Evan Turner                     Ohio State   3425510.0
James Young                       Kentucky   1749840.0
Tyler Zeller                North Carolina   2616975.0
Bojan Bogdanovic                       NaN   3425510.0
Markel Brown                Oklahoma State    845059.0
Wayne Ellington             North Carolina   1500000.0
Rondae Hollis-Jefferson            Arizona   1335480.0
Jarrett Jack                  Georgia Tech   6300000.0
Sergey Karasev                         NaN   1599840.0
Sean Kilpatrick                 Cincinnati    134215.0
Shane Larkin                    Miami (FL)   1500000.0
Brook Lopez                       Stanford  19689000.0
Chris McCullough                  Syracuse   1140240.0
Willie Reed                    Saint Louis    947276.0

In [23]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Msc', 'MA', 'MCA', 'Phd'],
         'Mobile No': [97, 91, 58, 76]}

# Define a dictionary containing employee data
data2 = {'Name': ['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'],
         'Age': [22, 32, 12, 52],
         'Address': ['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'],
         'Qualification': ['MCA', 'Phd', 'Bcom', 'B.hons'],
         'Salary': [1000, 2000, 3000, 4000]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1, index=[0, 1, 2, 3 ])

# Convert the dictionary into DataFrame
df1 = pd.DataFrame(data2, index=[2, 3, 6, 7])

print(df, "\n\n", df1)
# using a .concat() method
frames = [df, df1]
print("-"*100)
res1 = pd.concat(frames)
print(res1)

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
2  Gaurav   22  Allahabad           MCA    1000
3    Anuj   32    Kannuaj           Phd    2000
6  Dhiraj   12  Allahabad          Bcom    3000
7  Hitesh   52    Kannuaj        B.hons    4000
----------------------------------------------------------------------------------------------------
     Name  Age    Address Qualification  Mobile No  Salary
0     Jai   27     Nagpur           Msc       97.0     NaN
1  Princi   24     Kanpur            MA       91.0     NaN
2  Gaurav   22  Allahabad           MCA       58.0     NaN
3    Anuj   32    Kannuaj           Phd       76.0     NaN
2  Gaurav   22  Allahabad           MCA        NaN  1000.0
3    Anuj   32    Kannuaj           Phd        NaN  2000.0
6  Dhiraj   12  Allahabad          Bcom        NaN  3000.0
7  Hitesh   52    Kannuaj        B.hons        NaN  4000.0